@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1131%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M73.1 180.98L138.05 218.48L138.05 293.48L73.1 330.98L8.15 293.48L8.15 218.48zM203.01 -44.02L267.96 -6.52L267.96 68.48L203.01 105.98L138.05 68.48L138.05 -6.52zM267.96 293.48L332.91 330.98L332.91 405.98L267.96 443.48L203.01 405.98L203.01 330.98zM397.87 68.48L462.82 105.98L462.82 180.98L397.87 218.48L332.91 180.98L332.91 105.98zM332.91 405.98L397.87 443.48L397.87 518.48L332.91 555.98L267.96 518.48L267.96 443.48zM527.78 68.48L592.73 105.98L592.73 180.98L527.78 218.48L462.82 180.98L462.82 105.98zM527.78 293.48L592.73 330.98L592.73 405.98L527.78 443.48L462.82 405.98L462.82 330.98zM787.59 68.48L852.55 105.98L852.55 180.98L787.59 218.48L722.64 180.98L722.64 105.98zM722.64 180.98L787.59 218.48L787.59 293.48L722.64 330.98L657.68 293.48L657.68 218.48zM787.59 293.48L852.55 330.98L852.55 405.98L787.59 443.48L722.64 405.98L722.64 330.98zM852.54 180.98L917.5 218.48L917.5 293.48L852.54 330.98L787.59 293.48L787.59 218.48zM1047.41 68.48L1112.36 105.98L1112.36 180.98L1047.41 218.48L982.45 180.98L982.45 105.98zM1047.41 518.48L1112.36 555.98L1112.36 630.98L1047.41 668.48L982.45 630.98L982.45 555.98zM1112.36 180.98L1177.31 218.48L1177.31 293.48L1112.36 330.98L1047.41 293.48L1047.41 218.48zM1177.31 293.48L1242.27 330.98L1242.27 405.98L1177.31 443.48L1112.36 405.98L1112.36 330.98zM1437.13 68.48L1502.08 105.98L1502.08 180.98L1437.13 218.48L1372.17 180.98L1372.17 105.98zM1372.17 180.98L1437.13 218.48L1437.13 293.48L1372.17 330.98L1307.22 293.48L1307.22 218.48zM1567.04 68.48L1631.99 105.98L1631.99 180.98L1567.04 218.48L1502.08 180.98L1502.08 105.98z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M65.6 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.55 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.55 293.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM65.6 330.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM0.65 293.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM0.65 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.51 -44.02 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.46 -6.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.46 68.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.51 105.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.55 68.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM130.55 -6.52 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.46 293.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.41 330.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.41 405.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.46 443.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.51 405.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM195.51 330.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.37 68.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM455.32 105.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM455.32 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.37 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.41 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.41 105.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.37 443.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM390.37 518.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM325.41 555.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM260.46 518.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM520.28 68.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM585.23 105.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM585.23 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM520.28 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM520.28 293.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM585.23 330.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM585.23 405.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM520.28 443.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM455.32 405.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM455.32 330.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM780.09 68.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM845.05 105.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM845.05 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM780.09 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM715.14 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM715.14 105.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM780.09 293.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM715.14 330.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM650.18 293.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM650.18 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM845.05 330.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM845.05 405.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM780.09 443.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM715.14 405.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM845.04 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM910 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM910 293.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM845.04 330.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.91 68.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.86 105.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.86 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.91 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM974.95 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM974.95 105.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.91 518.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.86 555.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.86 630.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.91 668.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM974.95 630.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM974.95 555.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1169.81 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1169.81 293.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.86 330.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1039.91 293.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1234.77 330.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1234.77 405.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1169.81 443.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1104.86 405.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.63 68.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1494.58 105.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1494.58 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.63 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1364.67 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1364.67 105.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1429.63 293.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1364.67 330.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1299.72 293.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1299.72 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1559.54 68.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1624.49 105.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1624.49 180.98 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1559.54 218.48 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M3.72 134.09L47.02 159.09L47.02 209.09L3.72 234.09L-39.58 209.09L-39.58 159.09zM176.93 -15.91L220.23 9.09L220.23 59.09L176.93 84.09L133.63 59.09L133.63 9.09zM176.93 434.09L220.23 459.09L220.23 509.09L176.93 534.09L133.63 509.09L133.63 459.09zM220.23 509.09L263.54 534.09L263.54 584.09L220.23 609.09L176.93 584.09L176.93 534.09zM306.84 359.09L350.14 384.09L350.14 434.09L306.84 459.09L263.54 434.09L263.54 384.09zM609.96 434.09L653.26 459.09L653.26 509.09L609.96 534.09L566.65 509.09L566.65 459.09zM783.17 434.09L826.47 459.09L826.47 509.09L783.17 534.09L739.86 509.09L739.86 459.09zM999.68 59.09L1042.98 84.09L1042.98 134.09L999.68 159.09L956.38 134.09L956.38 84.09zM956.38 134.09L999.68 159.09L999.68 209.09L956.38 234.09L913.07 209.09L913.07 159.09zM999.68 509.09L1042.98 534.09L1042.98 584.09L999.68 609.09L956.38 584.09L956.38 534.09zM1042.98 284.09L1086.28 309.09L1086.28 359.09L1042.98 384.09L999.68 359.09L999.68 309.09zM1086.28 509.09L1129.59 534.09L1129.59 584.09L1086.28 609.09L1042.98 584.09L1042.98 534.09zM1129.59 284.09L1172.89 309.09L1172.89 359.09L1129.59 384.09L1086.28 359.09L1086.28 309.09zM1216.19 -15.91L1259.49 9.09L1259.49 59.09L1216.19 84.09L1172.89 59.09L1172.89 9.09zM1302.8 134.09L1346.1 159.09L1346.1 209.09L1302.8 234.09L1259.49 209.09L1259.49 159.09zM1346.1 509.09L1389.4 534.09L1389.4 584.09L1346.1 609.09L1302.8 584.09L1302.8 534.09z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1131'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.container {
    position: absolute;
    top: 17rem;
    left: 25%;
    width: 50%;
    /* height: 35rem; */
    border-radius: 2px;
    background: rgba( 70, 147, 225, 0.70 );
    border: 0.5px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.todo {
    height: 5rem;
    padding:20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(11, 65, 116, 0.7);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-size: 40px;
}

h3 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    color: rgba(253, 250, 250, 0.623);
}

::placeholder {
    color: rgba(233, 222, 222, 0.5);
}

.fa-plus-circle:hover {
    cursor: pointer;
    color: rgba(5, 172, 5, 0.932);
    transition: color 0.2s;
}

.add_todos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .add_todos > input {
    width: 90%;
    height: 60px;
    font-size: 30px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.719);
    border: none;
    outline: none;
    margin-left: 40px;
} */

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    list-style: none;
    padding: 10px;
    height: 70px;
}

li:hover span {
    display: inline;
}

li:hover {
    padding: 10px;
}

span {
    display: none;
    background-color: rgba(100, 26, 26, 0.842);
    color: white;
    padding: 10px;
}

#add_items {
    padding: 10px;
    font-size: 28px;
    width: 100%;
    border: 1px solid rgba(233, 222, 222, 0.5);
    border-top: 0px;
    background-color: transparent;
    outline: none;
}

.app_cont {
    color: rgba(253, 250, 250, 0.623);
}

.invisible {
    display: none;
}

.visible {
    display: inline;
}
