@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  background-image: linear-gradient(to top, #474977 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #978ddd 100%);
  text-align: center;
  display: flex;
  order: 1;
  align-items: center;
  flex-direction: column;
  justify-content:flex-start;
  color: white;
  font-size: calc(20px + 2vmin);
  font-family: 'Bree Serif', serif;
  height: 100vh;
}


.data {
  margin-top: 50px;
  text-align: justify;
}


