* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url(./elbashayer.com-2020-04-02_12-53-05_796303.jpg);
  
}

.quiz-container {
  margin: 80px auto;
  width: 70%;
  height: 70%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading {
  background: rgba( 43, 36, 36, 0.65 );
  box-shadow: 0 2px 2px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #c29023c0;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

.quiz-section {
  background: rgba( 43, 36, 36, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  height: 100%;
}

.quiz-card {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.curr-quiz {
  display: flex;
}

.quiz-ques {
  flex: 1;
  background: rgb(176,36,36, 0.65);
  box-shadow: 0 2px 20px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 4px;
  font-size: 2rem;
  font-family: 'Merriweather', serif; 
  width: 100%;
}

.quiz-option {
  flex: 3;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.option {
  padding: 15px 0;
  background: rgba( 43, 36, 36, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  color: #c29023c0;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  border: 1px solid #c29023c0;
}

.option:active {
  background-color: transparent;
  font-weight: 500;
}

.wrong {
  background-color: rgb(153, 9, 4);
  color: #dbb35dc0;
  font-weight: 700;

  
}
.correct {
  background-color: rgb(4, 128, 0);
  color: #dbb35dc0;
  font-weight: 700;

}
